.ui-flex {
	display: flex;
}

.ui-flex--direction_column {
	flex-direction: column;
}
.ui-flex--direction_row {
	flex-direction: row;
}
.ui-flex--wrap_wrap {
	flex-wrap: wrap;
}

.ui-flex--indent_large + .ui-flex--indent_large {
	margin-top: 30px;
}