body {
  margin: 0;
  height: 100vh;
  background: url('./background.jpg') center no-repeat / cover fixed;
  overflow: hidden;
}
body, input {
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
